/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.jumbotron{
  background-image:url(waves2.jpg);
  background-position: 0% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  margin-bottom: 0;
  border-bottom:navy;
  color: rgb(12, 2, 5);
}
